{% extends 'admin_template.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}

<div style="text-transform: none;">
	<table class="table">
		<tbody>
			{% for item in row %}
			<tr>
				<td style="width: 2%;"></td>
				<td style="width: 20%;">
					{{ item[1] }}<br>
					<p style="font-size: 13px;">Hearing Dates: {{ item[7] | safe }} @ {{ item[6] }}</p>
				</td>
				<td style="width: 50%;">
					{{ item[2] }}<br>
					For: {{ item[3] }}<br>
					{{ item[4] }} - Counsel for Petitioner<br>
					{{ item[5] }} - Counsel for Respondent<br>
					<i>
						Updates:<br>
						{{ item[8] | safe }}
					</i>
				</td>
				<td style="width: 25%;">
					<a class="btn btn-warning" href="{{ url_for('admin.admin_select', id = item[0]) }}" role="button">Update</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p align="center"; style="font-family: Book Antiqua;">***nothing follows***</p>
</div>

{% endblock %}