{% extends 'admin_template.html' %}

{% block title %}Update Data{% endblock %}

{% block content %}

<div class="container">
	<form class="form-fontrol" action="{{ url_for('admin.admin_update') }}" method="POST">
		<h2 class="text-center mb-4">Update Record</h2>
		{% for item in row %}
			<input type="hidden" name="id" value="{{ item[0] }}">
			<div class="form-group">
				<label>Case Number</label>
				<input type="text" class="form-control" name="case_no" value="{{ item[1] }}">
			</div>
			<div class="form-group">
				<label>Case Title</label>
				<input type="text" class="form-control" name="case_title" value="{{ item[2] }}">
			</div>
			<div class="form-group">
				<label>Case Nature</label>
				<input type="text" class="form-control" name="case_nature" value="{{ item[3] }}">
			</div>
			<div class="form-group">
				<label>Petitiner's Counsel</label>
				<input type="text" class="form-control" name="pet_atty" value="{{ item[4] }}">
			</div>
			<div class="form-group">
				<label>Respondent's Counsel</label>
				<input type="text" class="form-control" name="res_atty" value="{{ item[5] }}">
			</div>
			<div class="form-group">
				<label>Hearing Time</label>
				<select name="hearing_time" class="form-control" placeholder="Hearing Time">
					<option value ="{{ item[6] }}">{{ item[6] }}</option>
					<option value ="8:30 AM">8:30 in the Morning</option>
					<option value ="2:00 PM">2:00 in the Afternoon</option>
				</select>
			</div>
			<div class="form-group">
				<label>Hearing Schedules</label>
				<textarea class="form-control" rows="5" name="hearing_sched">{{ item[7] }}</textarea>
			</div>
			<div class="form-group">
				<label>Update</label>
				<textarea class="form-control" rows="5" name="update">{{ item[8] }}</textarea>
			</div>
			<div class="form-group">
				<label>Status</label>
				<input type="text" class="form-control" name="status" value="{{ item[9] }}">
			</div>
			<div class="form-group">
				<input class="btn btn-warning btn-block" type="submit" value="Submit">
			</div>
		{% endfor %}
	</form>
</div>

{% endblock %}