name: CI/CD to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  # STEP 1: Run Tests
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies & Test
        run: |
          pip install -r requirements.txt pytest
          pytest

  # STEP 2: Build and Push to Docker Hub
  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.theinternetcommoner }}
          password: ${{ secrets.dckr_pat_otgnZrKqnl4hCC0IIzSCD8FDU1o }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Replace 'your-username' with your actual Docker Hub username
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest